.git
*.h~
*.hex
*.a
*.o
*.cod
*.asm
*.lst
/bin
.classpath
.buildpath
/.settings
/target

# Output
*.aux
*.log
*.gz
*.toc
*.pdf
*.out
*.dvi
*.bbl
*.blg
*.xml
*.bib
*.thm

# Vagrant
Vagrantfile
/.vagrant

# Windows crap
*~
